@{
    ViewData["Title"] = "DocumentaçãoProjetoElevador";
}

<div class="text-center">
    <h1 class="display-4">ProjetoElevadorDocumentação</h1>
    <h1 class="display-4"> O projeto elevador tem o objetivo de simular o funcionamento de um elevador</h1>
    <h1 class="display-4">Foram criadas as classes Elevador, Escolhas, Subir e Descer que regulam o funcionamento do elevador e suas restrições</h1>
    <h1 class="display-4">A simulação tem como principio que o usuário ira entrar no elevador incialmente no piso 0 - Terreo e se deslocara dentro do edifício subindo e descendo atravéz da interação com o usúário</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core%22%3Ebuilding Web apps with ASP.NET Core</a>.</p>
</div>
